body {
    margin: 0;
    max-width: 100%;
    padding: 0;
}
.container{
    background-color: #1E1E1E;
    width: 100%;
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.header{
   width: 100%;
}
.menu{
    height: 100px;
    width: 100%;
}
.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 100px; 
    display: flex;
    justify-content: right;
}
.menu a{
    text-decoration: none;
    display: block;
    padding: 40px 50px;
    font-size: 24px;
    color: #29D0B5;
    font-weight: bold;
}
.menu a:hover{
    color: red;
    font-weight: bold;
}
.home{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.home-informatiom{
    width: 55%;
    float: left;
    text-align: center;
}
.home-informatiom h1{
    font-size: 64px;
}
.home-informatiom p{
    font-size: 20px;
}
.home-informatiom a i{
    font-size: 35px;
}
.home-informatiom span{
    font-size: 36px;
    border: 2px solid white;
    padding: 7px 70px;
    border-radius: 30px;
}
.home-informatiom span a{
    text-decoration: none;
    color: #29D0B5;
}
.home-informatiom span a:hover{
    color: red;
}
.home-pic{
    width: 45%;
}
.box-pic{
    width: 50%;  
    margin-top: 40px;
    border: 2px solid gray;
    display: flex;
    justify-content: center; 
    border-radius: 50px;
}
.box-pic img{
   border-radius: 50px; 
   width: 90%;
   height: 450px;
}
.about-pic img{
    object-fit: cover;
    width: 80%;
    border-radius: 50px;
}
.about{
    width: 100%; 
}
.about-text{
    width: 100%;
    text-align: center;
}
.about-text p{
    font-size: 64px;
}
.about-box{
    width: 100%;
    display: flex;
}
.box-box-pic{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box-pic-img{
    width: 50%;
    height: 100%;
    
}
.box-pic-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid gray;
}
.box-text{
    margin-top: 40px;
    margin-left: 30px;
    width: 60%;
}
.box-text-text{
    width: 90%;
    margin-top: 20px;
}
.box-text-text span{   
    font-size: 24px;
    border: 2px solid white;
    padding: 7px 50px;
    border-radius: 30px;
    color: white;  
}
.box-text-text a{
    text-decoration: none;
    background-color: black;
}
.box-text-text span:hover{
    color: red;
}
.box-text-text p{
    font-size: 20px;
}









.education{
    width: 1200px;
    margin: auto;
    height: 700px;
    /* background-color: rgb(42, 41, 41); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    
}

.box-edu{
    width: 40%;
    border-radius: 7%;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.box1-edu{
    width: 100%;
    height: 100px;
    background-color: #383636;    
}
.box1-edu small{
    font-size: 30px;
    color:black;
    display: inline-block;
    padding: 20px 20px;
    background-color:rgb(232, 126, 14);
    border-radius: 50%;
    margin-left: 30px;
    /* margin-top: 15px;    */
}

.box1-edu h1{
    font-size: 40px;
    display: inline-block;
    margin-left: 10px;
    color: #27E9B5;
}
.informa{
    width: 100%;
    background-color: #383636;
    flex-wrap: wrap;  
    margin: auto;
   

}
.box-informa{
    width: 100%;
    display: flex; 
     margin-top: 15px;
 
}
.line{
    width: 80%;
    border-top: 1px solid gray;
    margin: auto;
    
}

.box-linee {
    width: 7px;
    height: 65px;
    background-color: rgba(128, 128, 128, 0.585);
    margin-top: 15px;
}
.infor{
    width: 100%;
}
.box-infor{
    width: 400px;
    padding: 20px;
}
.box-infor p {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.836);
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin: 0;
}

.box-infor span {
    font-size: 20px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: bold;

}

.my-project{
    width: 90%;
    margin: auto;
}
.project-text{
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.box-bro-text{
    width: 80%;
}
.box-bro-text h1{
    font-size:40px;
    color: #29D0B5;
}
.broject{  
    font-size: 40px;  
    width: 100%;
    display: flex;   
}
.box-projct img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.broject1{
    width: 100%;
    display: flex;   
}
.box-projct{
    width: 31.1%;
    background-color: aqua;
    margin:15px;
}
.my-skill{
    width: 100%;
}
.big{
    width: 100%;
}


.languages{
    width: 100%;
}
.box-languages{
    width: 90%;
    margin: auto;
}
.box1-languages{
    width: 100%;
    text-align: center;
}
.box1-languages h1{
    font-size: 40px;
    margin: auto;
}
.box-skill{
    margin-top: 40px;
    width: 100%;
    display: flex;
}
.box1-skill{
    width: 20%;
    height: 100%;
    margin:0 100px;
    position: relative;
}
.box11-skill{
    position: absolute;
    left: 27%;
    top: 30%;
}
.box11-skill h3{
    font-size: 24px;
}
.box1-skill img{
    margin-top: 20px;
    width: 60%;
    height: 80%;
    object-fit: cover;
    margin-left: 20px;
}
.box-skill-txt{
    width: 100%;
}
.skill-txtt{
    width: 100%;
    padding: 10px 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
.skill-txtt p{
    font-size: 20px;
    margin: 0px 100px;
    margin-left: 19px;
}










.box-skill-text{
    width: 100%;
    padding: 2px;
    text-align: center;
}
.box-skill-text h1{
    font-size: 40px;
}
.skill{
    width: 100%;
    display: flex;
}
.skill-txt{
    width: 20%;
}
.skill-txt P{
    font-size: 40px;
}
.skill-line{
    width: 80%;
    position: relative;
}
.box{
    width: 90%;
    height: 25%;
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 30px;

}
.box-box{
    width: 95%;
    height: 100%;
    border-radius: 30px;
    background-color: #29D0B5;
}

.skill{
    width: 100%;
    display: flex;
}
.skill-txt{
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.skill-txt P{
    font-size: 40px;
}
.skill-line{
    width: 80%;
    position: relative;
}
.box{
    width: 90%;
    height: 25%;
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 30px;
}
.box-box1{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    background-color: #29D0B5;
}
.skill{
    width: 100%;
    display: flex;
}
.skill-txt{
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.skill-txt P{
    font-size: 40px;
}
.skill-line{
    width: 80%;
    position: relative;
}
.box{
    width: 90%;
    height: 25%;
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 30px;
}
.box-box2{
    width: 85%;
    height: 100%;
    border-radius: 30px;
    background-color: #29D0B5;
}
.skill{
    width: 100%;
    display: flex;
}
.skill-txt{
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.skill-txt P{
    font-size: 40px;
}
.skill-line{
    width: 80%;
    position: relative;
}
.box{
    width: 90%;
    height: 25%;    
    border:1px solid gray;
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 30px;
}
.box-box3{
    width: 80%;
    height: 100%;
    border-radius: 30px;
    background-color: #29D0B5;
}
.contect{
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    display: flex;
    justify-content: center;
    text-align: center;
}
.box-contect{
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.contect-text{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.contect-text h1{
    font-size: 40px;  
}
.contect-information{
    width: 100%;
    margin: auto;
}
.fill-in {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 20px;
}
.fill-in label {
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.fill-in input {
    width: 100%;
    border-radius: 12px;
    padding: 20px 10px;
    background-color: transparent;
    color: white;
}
.fill-in ::placeholder {
    font-size: 20px;
    color: gray; 
}
.fill-inn {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.fill-inn label {
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.fill-inn input {
    width: 100%;
    border-radius: 12px;
    padding: 70px 10px;
    background-color: transparent;
}
.fill-inn ::placeholder {
    font-size: 20px;
    color: gray;
}
.submit {
   font-size: 20px; 
   font-weight: bold;
    
}
.submit input {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: transparent;
    margin-top: 20px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(42, 41, 41);
}
.box-footer{
    margin-top: 50px;
    width: 70%;
}
.footer-icon{
    width: 90%;
    height: 30%;
}
.box11-icon{
    width: 100%;
    margin: auto;
    align-items: center ;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 50px;

}
.box11-icon i{
    width: 45px;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    font-size: 40px;
    margin: 20px 20px;

   
   align-items: center;
    
}
.footer-text{
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    
}
.footer-text p{
    font-size: 20px;
    color: white;
    margin: 20px;
}
.copy{
    margin-top: 70px;
}


html{
    scroll-behavior: smooth;
}
